<style>
  .main {
    height: 100vh;
  }

  header {
    height: 10%;
  }

  header h1 {
    text-align: center;
    font-family: monospace;
    padding-top: 20px;
  }

  main {
    height: 80%;
    text-align: center;
  }

  main input {
    font-family: monospace;
    font-size: 20px;
  }

  main button {
    font-size: 20px;
  }

  main textarea {
    margin-top: 20px;
    width: 90%;
    height: 90%;
  }
</style>

<div class="main">
  <header>
    <h1>CSV to JSON Converter</h1>
  </header>
  <main>
    <div class="controls">
      <input class="input-file" type="file" (change)="handleFileInput($event)">
      <button (click)="downloadJson()">Download</button>
    </div>
    <textarea name="" id="">{{ json }}</textarea>
  </main>
</div>

<router-outlet></router-outlet>